.color0 {
color: #f710f0;
}
.color1 {
color: #1f2b7f;
}
.color2 {
color: #1abb5d;
}
.color3 {
color: #5424ac;
}
.color4 {
color: #11b61e;
}
.color5 {
color: #ddf3af;
}
.color6 {
color: #6ae799;
}
.color7 {
color: #23812f;
}
.color8 {
color: #554c1a;
}
.color9 {
color: #c569d0;
}
.color10 {
color: #97affb;
}
