a:focus, a:hover {
  color: #58982B;
}
a {
color: #58982B;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a.active, .dropdown-menu li > a:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #666;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #666;
}
#horizontal-menu {
	background-color: #191919;
}
#horizontal-menu {
  min-height: 48px;
}
#horizontal-menu .nav > li > a {
  padding: 14px 15px;
}
#top-fixed.sticky-header-2 {
	background:#191919;
	border-top:7px solid #191919;
}
#top {
  background-color: #191919;
  border-bottom: 1px solid #191919;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 2px;
  padding-top: 2px;
}
#top .container {
  background-color: #191919;
}
#top .btn-link, #top-links li, #top-links a {
  color: #cecede;
}
#top .btn-link:hover, #top-links a:hover {
	color: #fff;
}
.btn-menu {
	background-color: #62AD2D;
	border-color: #62AD2D;
	border-bottom:2px solid #58982B;
}
#menu.open .btn-menu, .btn-menu:hover, .btn-menu:active, .btn-menu.active, .btn-menu.disabled, .btn-menu[disabled] {
    background-color: #58982B;
    border-color: #58982B;
}
.btn-search {
	color: #fff;
	background-color: #62AD2D;
	border:2px solid #62AD2D;
	border-bottom:2px solid #58982B;
	padding:8.5px 18px;
	margin-left:0px !important;
	border-radius:0px 3px 3px 0px;
	box-shadow:none;
}
.btn-search:hover, .btn-search:active {
	border:2px solid #58982B;
	border-bottom:2px solid #58982B;
	background-color: #58982B;
	color:#fff;
}
#cart  > .btn{
	background: #62AD2D;
	color: #000;
	border-radius: 3px;
	padding: 4px 15px 4px 10px;
	line-height: 32px;
	border-bottom:2px solid #58982B;
	border-top:0px;
	border-left:0px;
	border-right:0px;
}
#cart.open  > .btn, 
#cart  > .btn:hover{
	background: #58982B;
	box-shadow:0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.carousel-container .owl-controls .owl-page.active span {
  background: #62AD2D none repeat scroll 0 0;
}
.container-module .title-module:after,
.categorywall-container .title-module:after {
  border-bottom: 2px solid #62AD2D;
}
.btn-carousel-module:hover,
.btn-carousel-module:active {
	background: #62AD2D none repeat scroll 0 0;
	color:#fff;
}
#additional-menu .nav > li:hover > a, 
#additional-menu .nav > li.open > a {
	background-color: #62AD2D;
	border-radius:4px;
	color:#fff;
}
#horizontal-menu .nav > li:hover > a, 
#horizontal-menu .nav > li.open > a {
	background-color: #62AD2D;
}
@media (min-width: 768px) {
	#additional-menu .dropdown:hover .dropdown-menu ,
	#additional-menu .dropdown.open .dropdown-menu {
		display: block;
		border-top:3px solid #62AD2D;
	}
	#horizontal-menu .dropdown:hover .dropdown-menu,
	#horizontal-menu .dropdown.open .dropdown-menu {
		display: block;
		border-top:3px solid #62AD2D;
	}
}
@media (min-width: 992px) {	
	#menu #menu-list  > li > a.parent-link:hover,
	#menu #menu-list  > li > a.parent-link.hover{
		background: linear-gradient(to right, #f5f5f5 70%, #fff 80%);
		color: #58982B;
	}
	#menu #menu-list > li .dropdown-menu-simple .nsmenu-haschild > li > a:hover,
	#menu #menu-list > li .dropdown-menu-simple .nsmenu-haschild > li > a.hover{
		background: linear-gradient(to right,#ffffff 0%, #f5f5f5 22%, #f5f5f5 70%, #fff 80%);
		color: #58982B;
	}
}
footer {
  border-top:3px solid #62AD2D;
}
.footer-ribbon:before {
  border-right: 10px solid #58982B;
}
.footer-ribbon {
  background-color: #62AD2D;
  margin: -49px 0 25px;
  padding: 10px 20px 6px;
  position: absolute;
}
#bar{
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #62AD2D;
}
#progressBar{
  width: 100%;
  background: #cccccc;
}

.btn-newsletter {
	border-radius: 4px;
	color: #fff;
	background:#62AD2D;
	border-color:#62AD2D;
	border-bottom:2px solid #58982B;
	font-size: 14px !important;
	font-weight: bold;
	line-height: 26px;
	padding: 8px 15px 7px;
	text-align: left;
	text-transform: uppercase;	
	vertical-align: baseline;
}
.btn-newsletter:hover, .btn-newsletter:active, .btn-newsletter.active, .btn-newsletter.disabled, .btn-newsletter[disabled] {
	color: #fff;
	background:#58982B;
	border-bottom:2px solid #58982B;
}

.block-banner-footer:hover {
	background:#62AD2D;
	border-color: #58982B;
}
.box-heading {
  background-color: #62AD2D;
  border: 1px solid #62AD2D;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 2px 2px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 14px !important;
  font-weight: bold;
  line-height: 1.42857;
  padding: 10px 20px;
  text-align: left;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  z-index: 995;
}
.container-accordion-menu .parent-category.active a {
  color: #58982B;
}
.container-accordion-menu .parent-link:hover,
.container-accordion-menu .parent-link:hover .arrow,
.container-accordion-menu .parent-link.hover,
.container-accordion-menu .parent-link.hover .arrow{
	color:#58982B;
}
.container-accordion-menu .sub-category-link:hover,
.container-accordion-menu .sub-category-link:hover .arrow {
	color:#58982B;
}
.container-accordion-menu .sub-category-link.hover,
.container-accordion-menu .sub-category-link.hover .arrow {
	color:#58982B;
}
.container-accordion-menu .child_children_link > a:hover {
	color:#58982B;
}