<div id="popup-editor-product">
	  <form class="form-horizontal" id="form-product-name" enctype="multipart/form-data" method="post">
		<div class="form-group">
		    <div class="col-sm-12">
				<button onclick="$(\'.popup_banner\').popup(\'hide\');groupEditorRefresh();" class="btn btn-danger btn-block btn-lg" type="button">You must select at least one product!</button>
            </div>
		</div>
	  </form>
</div>